* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  --blue-950: #0D192C;
  --blue-900: #15263F;
  --blue-800: #2E405A;
  --blue-500: #8BACD9;
  --cyan-400: #00FFF8;
}

body {
  font-family: "Outfit", system-ui, -apple-system, sans-serif;
  line-height: 1.25;
  background-color: var(--blue-950);
  display: grid;
  place-items: center;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 8px;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.card {
  max-width: 21.875rem;
  padding: 24px;
  background-color: var(--blue-800);
  border-radius: 15px;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--blue-500);
  margin-inline: 12px;
}

.image-container {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 248, 0.5);
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.view-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .view-icon {
  opacity: 1;
}

.image-container:hover .overlay {
  opacity: 1;
}

.card .image-container:hover~.creator p a {
  color: var(--cyan-400);
  /* Das Cyan-Blau */
}

.image-container:hover+.header h3 {
  color: var(--cyan-400);
}

h3 {
  font-size: 1.375rem;
  font-weight: 600;
  color: white;
  margin-bottom: 16px;
  transition: color 0.3s ease;
}

.header p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.45;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.price {
  color: var(--cyan-400);
}

.price,
.time {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

hr {
  border-top-width: 0;
  border-color: #979797;
}

.creator {
  display: flex;
  align-items: center;
  gap: 16px;
}

.creator img {
  border: 1px solid white;
  width: 2.0625rem;
  height: 2.0625rem;
  border-radius: 50%;
}

.creator a {
  color: white;
  margin-left: 5px;
  transition: color 0.3s ease;
}